# Flask
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=your-very-strong-secret-key-here

# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/quickcv?retryWrites=true&w=majority

# CORS
FRONTEND_URL=http://127.0.0.1:5500